@mixin open-sans($weight, $size, $color) {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: $weight;
	font-size: $size;
	text-align: center;
	text-transform: uppercase;
	color: $color;
}

@mixin oleo($weight, $size, $color) {
	font-family: 'Oleo Script Swash Caps', Helvetica, Arial, sans-serif;
	font-weight: $weight;
	font-size: $size;
	color: $color;
}

@mixin img-services($img) {
	background: url($img) no-repeat center center;
	height: 126px;
	margin: 20px 0;
}

@mixin img-services-ext($img) {
	background: url($img) no-repeat center center;
	height: 297px;
	float: right;
}

@mixin transition($time) {
	-webkit-transition: all ($time) ease;
	-moz-transition: all ($time) ease;
	-o-transition: all ($time) ease;
	transition: all ($time) ease;
}

@mixin width {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}